/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;

    &:hover{
        opacity: 1;
    }

    &__icon{
        font-size: 1.5rem;
        color: var(--first-color);
    }
}

/* Show Scroll Up*/
.show-scroll{
    bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
    width: .6rem;
    background: hsl(0, 0%, 74%);

    &-thumb{
        background: hsl(0, 0%, 17%);
    }
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
    --first-color: hsla(323, 100%, 19%, 0.5);
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/

.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray{
    color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header{
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop{
    color: var(--title-color);
}

.dark-theme::-webkit-scrollbar{
    background: hsl(0, 0%, 30%)
}